/*layout*/
section {
    margin: 20px;
    border: 1px solid #ccc;
    padding: 15px;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*my custom XValidation styles*/

.validation-target.validating {
    border-color: darkorange;
}
.validation-target--invalid {
    border-color: red;
}

.validation-message.validating {
    color: darkorange;
}
.validation-message--invalid {
    color: red;
}